html {
    font-family: Helvetica, sans-serif;
    background-color: #ECEEF1;
    font-weight: 400;
    margin: 20px;
  }
  header {
    font-size: 12px;
    float: right;
    display: flex;
    align-content: center;
    height: 35px;
  }
  .lock-icon{
    color:white;
    widows: 15px;
    height: 15px;
  }
  .sign-in-button{
    height:30px;
    width:80px;
    background-color: skyblue;
  }
  .create-account{
    height:30px;
    width:150px;
    background-color: skyblue;

  }
  body{
    text-align: center;
  }
.logo{
  height:80%;
  align-self: center;
}
.icons{
  //position: center;
  //align-self: center;
  text-align:center;
  //float: right;
}
.form {
  display: inline-block;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
  padding: 15px;
  border: 1px solid #C7C7C7;
  border-radius: 2px;
  width:400px;
}
.form-head{
  color:gray;
}
.header-to-right{
  float:right;
  display: flex;
  align-content: center;
  
}
.forgot-pass{
  padding: 10px;
  float: left;
  align-self: center;
  display: grid;
  grid-template-rows: 2;
  
}
.sign-in-button{
  float: right;
}