html {
  font-family: Helvetica, sans-serif;
  background-color: #eceef1;
  color: #444;
  margin: auto;
}

header {
  font-size: 12px;
  float: right;
  display: flex;
  align-content: center;
  height: 35px;
} 

header p{
  margin:3px;
  padding-right: 6px;
}

.signup-text {
  //display:flex;
  //flex-flow: column;
  
  float: left;
  align-self: center;
}

a {
  color: #0077c5;
  text-decoration: none;
}

.signin-btn {
  float: right;
  display: flex;
}

button {
  border: none;
  align-items: center;
  background-color: #0077c5;
  color: white;
  border-radius: 4px;
}

button.submit {
  width: 100px;
}

.padlock {
  width: 15px;
}

main {
  margin: auto;
  color: #6b6c72;
  padding: 0%;
  width: 400px;
  display: block;
  justify-content: center;
  text-align: center;
}

.intuiticons1 {
  width: 150px;
}

.intuiticons2 {
  width: 350px;
  margin-bottom: 10px;
}

.form {
  background-color: white;
  margin: auto;
  padding: 30px;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
}

form h1 {
  font-size: 24px;
  font-weight: 500;
}

form p {

  font-size: 13px;
  text-align: center;
}

form a {
  text-decoration: none;
}

input {
  margin: auto;
  padding: 6px;
}

.input-size {
  margin-top: 10px;
  width: 300px;
  border: 1px solid #c1c5c8;
  border-radius: 2px;
}

.inputtext {
  font-size: 10px;
}

fieldset {
  border: none;
  display: flex;
  font-size: 14px;
}

label {
  text-align: left;
}


.form-end {
  line-height: 20px;
  padding-top: 20px;
  font-style: italic;
  margin: 20px;
}

.formfooter {
  border-top: none;
  background-color: #eceef1;
}

footer {
  font-size: 12px;
  text-align: center;
  width: 60%;
  margin: auto;
}

.footera {
  color: #444;
}

button.priv-btn {
  position: fixed;
  bottom: 0;
  right: 5%;
  background-color: #6b6c72;
  width: 10%;
  height: 6%;
}

.account-btn {
  width: 315px;
  height: 40px;
}

